<img src="assets/resume-top.jpg" alt="Resume Top" style="width:100%">

<div style="padding: 20px;margin-top:20px;margin-bottom:100px;">

  <a md-button target="_blank" href="/assets/Kevin-Thrailkill-Resume.pdf" id="">DOWNLOAD RESUME</a>

  <div class="containerX">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxFlex class="coloredContainerX box">
      <div fxFlex> CONTACT </div>
      <div fxFlex style="margin-top: 15px !important">
        <a md-mini-fab href="mailto:{{resume.email}}?Subject=Hello%20{{resume.firstName}}">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <a md-mini-fab target="_blank" href="{{resume.github}}">
          <i class="fa fa-github " aria-hidden="true"></i>
        </a>
        <a md-mini-fab target="_blank" href="{{resume.linkedIn}}">
          <i class="fa fa-linkedin-square " aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="containerX">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxFlex class="coloredContainerX box">
      <div fxFlex> TECHNOLOGIES </div>
      <div fxFlex>
        <md-list dense>
          <md-list-item *ngFor="let skill of resume.skills">
            {{skill}}
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>

  <div class="containerX">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxFlex class="coloredContainerX box">
      <div fxFlex> WORK EXPERIENCE </div>
      <div fxFlex>
        <!-- three line list -->
        <md-list>
          <md-list-item *ngFor="let job of resume.jobs">
            <h2 md-line> {{job.workTitle}} </h2>
            <p md-line>{{job.company}}, {{job.location}}</p>
            <p md-line> {{job.dateStarted}} - {{job.dateEnded}}</p>
            <p md-line class="job-responsibilities" *ngFor="let res of job.responsibilities">
              {{res}}
            </p>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>

  <div class="containerX">
    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxFlex class="coloredContainerX box">
      <div fxFlex> Education </div>
      <div fxFlex>
        <md-list>
          <md-list-item *ngFor="let school of resume.schools">
            <h2 md-line> {{school.degree}} </h2>
            <p md-line> {{school.schoolName}} </p>
            <p md-line>{{school.location}}, {{school.dateCompleted}}</p>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>

</div>
